* {
  border : 2px;
  /* border : none; */
  border-radius: 8px;
  font-family: "JetbrainsMono Nerd Font";
  /* color : #ebdbb2; */
  /* font-size: 15px; */
  min-height: 15px;
  /* background-color: #292828; */
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  border: 2px solid #a89884;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #292828;
  /* background: #161320; */
  transition: none;
}

#workspaces button {
  transition: none;
  color: #a89884;
  /* default: color: #b5e8e0; */
  /* background: transparent; */
  border-radius: 2px;
}

#workspaces button.active {
  color: #ebdbb2;
  /* font-size : 13px; */
}

#workspaces button:hover {
  transition: none;
  animation:alternate;
  animation-duration : 250ms;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ebdbb2;
  border-color: #d65d0e;
  /* border-color: #e8a2af; */
  /* color: #e8a2af; */
}

#network {
  border: 2px solid #a89884;

  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #a89884;
  background: #292828;
  /*default: background: #bd93f9;*/
  transition: width 0.5s ease-in-out;
}

#wireplumber {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  border-width : 10px;
  border : #a89884;
  transition: none;
  /* color: #161320; */
  background: #292828;
  border-radius:10px;
}

#battery.critical:not(.charging) {
  background-color: #292828;
  color: #d65d0e;
  border : #d65d0e;
  color: #a89884;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 13px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  border : 2px #a89884;
  color: #a89884;
  background: #292828;
}

#clock {
  border: 2px solid #a89884;

  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #a89884;
  background: #292828;
  font-size : 14px;
  font-weight : 700;
  /*default: background: #abe9b3; */
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #a89984;
  background: #fabd2f;
  /*default: background: #ddb6f2; */
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #b8bb26;
  /*default: background: #96cdfb; */
}

#custom-launcher {
  font-size: 24px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #fe8019;
  /*default: color: #89dceb; */
  background: #161320;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f2cdcd;
}

#custom-power {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f2cdcd;
}

#pulseaudio {
  border: 2px solid #a89884;

  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top : 2px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #a89884;
  background: #292828;
}

#custom-power {
  border: 2px solid #a89884;

  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 13px;
  
  margin-bottom: 0px;
  margin-right : 8px;
  border-radius: 10px;
  transition: none;
  color: #a89884;
  font-size : 12px;
  background: #292828;
}

#menu {
	border-radius: 0px;
	background: #292828;
  min-width : 10px;
	color: #ebdbb2;
}
#menuitem {
	border-radius: 15px;
}

/* #menu-actions {
  background-color: #292828;
  color: #a89884;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

#tray {
  border: 2px solid #a89884;

  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top : 2px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #a89884;
  background: #292828;
}