/*
* Variant: Rosé Pine Moon
* Maintainer: DankChoir
*/

@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;

* {
  /* border : 0px; */
  /* border : none; */
  /* border-radius: 8px; */
  font-family: "JetbrainsMono Nerd Font";
  /* color : #ebdbb2; */
  /* font-size: 15px; */
  /* background-color: #292828; */
}

window#waybar {
      background: transparent;
 }

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  /* border: 2px solid #a89884; */
  transition: all 0.25s ease-out;
  margin-left : 10px;
  padding-left : 10px;
  font-size: 12px;
  font-weight: 500;
  padding-right: 5px;
  color : #ea9a97;
  /* border-radius: 10px; */
  /* background: #161320; */
  /* transition:0.25s ease-out all; */
}

#workspaces button {
  transition: all 0.1s ease-out;
  color: #ea9a97;
  font-size: 10px;
  padding-left  :8px;
  padding-right : 10px;
  margin-right : 10px;
  /* default: color: #b5e8e0; */
  /* background: transparent; */
  /* border-radius: 2px; */
}

#workspaces button.active {
  transition: all 0.15s ease-out;

  /* color : #eb6f92 */
  color : #232136;
  opacity : 0.8;
  font-size : 18px;
  padding-right : 10px;
  padding-left : 4px;
  padding-bottom : 4px;
  border-radius : 50px;
  background: #c4a7e7;
  /* font-size : 13px; */
}

#workspaces button.empty {
  transition: all 0.1s ease-out;

  /* color : #eb6f92 */
  color : #232136;
  font-size : 1px;
  padding-left : 0px;
  padding-bottom : 4px;
  border-radius : 50px;
  background: #c4a7e7;
  /* font-size : 13px; */
}

#workspaces button:hover {
  transition: all 0.25s ease-out;
  animation:alternate;
  animation-duration : 1000ms;
  color: #c4a9e7;
  background : transparent;
  border : 1px solid #EA9D34;
  border-radius : 20px;
} 

#workspaces button.urgent {
  transition: all 0.1s ease-out;
  animation:alternate;
  color: #ea9a97;
  font-size: 15px;
  padding-right : 10px;
  border : 1px solid #ea9a97;
  border-radius : 100px;
  box-shadow:     
    0 0 10px 2px #ea9a97; /* inner white */
    /* 0 0 2px 2px #EA9D34, middle magenta
    0 0 2px 2px #EA9D34;; */

}

#network {
  /* border: 2px solid #a89884; */

  margin-left: 8px;
  padding-left: 10px;
  /* padding-top: 2px; */
  padding-right: 15px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #c4a7e7;
  /* background: #292828; */
  /*default: background: #bd93f9;*/
  transition: width 0.5s ease-in-out;
}

#wireplumber {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #1a1826;
  /* background: #fae3b0; */
}

#battery {
  font-size : 15px;
  margin-left: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0px;
  /* border-radius: 10px;
  border-width : 10px;
  border : 2px solid #a89884; */
  transition: none;
  color: #a89884;
  /* background: #292828; */
}

#battery:not(.charging) {
  font-size : 15px;
  padding-left: 10px;
  padding-right: 13px;
  margin-bottom: 0px;
  /* border-radius: 10px;
  border-width : 10px;
  border : 2px solid #a89884; */
  transition: none;
  color: #eb6f92;
  /* background: #292828; */
  /* border-radius:10px; */
}

#battery.discharging {
  font-size : 13px;
  margin-left: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0px;
  /* border-radius: 10px;
  border-width : 10px;
  border : 2px solid #a89884; */
  transition: none;
  color: #a89884;
  /* background: #292828; */
  /* border-radius:10px; */
}

#battery.critical:not(.charging) {
  /* background-color: #292828; */
  color: #d65d0e;
  /* border : #d65d0e; */
  color: #a89884;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    /* background-color: #bf616a; */
    color: #b5e8e0;
  }
}

#backlight {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 13px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  /* border : 2px solid #a89884; */
  color: #f6c177;
  /* background: #292828; */
}

#clock {
  /* border: 2px solid #a89884; */

  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #ea9a97;
  /* background: #292828; */
  font-size : 14px;
  font-weight : 700;
  /*default: background: #abe9b3; */
}

#custom-notification {
  /* border: 2px solid #a89884; */

  margin-right: 8px;
  padding-left: 10px;
  padding-right: 12px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #a89884;
  /* background: #292828; */
  font-size : 15px;
  font-weight : 700;
}

#custom-notification.dnd {
  /* border: 2px solid #a89884; */

  margin-right: 8px;
  padding-left: 10px;
  padding-right: 14px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #a89884;
  /* background: #292828; */
  font-size : 15px;
  font-weight : 700;
}


#memory {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  /* border-radius: 10px; */
  transition: none;
  color: #a89984;
  /* background: #fabd2f; */
  /*default: background: #ddb6f2; */
}

#cpu {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  /* border-radius: 10px; */
  transition: none;
  color: #161320;
  /* background: #b8bb26; */
  /*default: background: #96cdfb; */
}

#custom-launcher {
  font-size: 24px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  /* border-radius: 10px; */
  transition: none;
  color: #fe8019;
  /*default: color: #89dceb; */
  /* background: #161320; */
}

#custom-media {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #161320;
  /* background: #f2cdcd; */
}

#custom-power {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #161320;
  /* background: #f2cdcd; */
}

#pulseaudio {
  /* border: 2px solid #a89884; */
  background-color: rgba(22,00,33, 0.2);
  font-size : 15px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top : 0px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #3e8fb0;
  /* background: #292828; */
}

#custom-power {
  /* border: 2px solid #a89884; */

  margin-left: 8px;
  padding-left: 10px;
  padding-right: 13px;
  
  margin-bottom: 0px;
  margin-right : 8px;
  /* border-radius: 10px; */
  transition: none;
  color: #9ccfd8;
  font-size : 12px;
  /* background: #292828; */
}

#menu {
	/* border-radius: 0px; */
	/* background: #292828; */
  min-width : 10px;
	color: #ebdbb2;
}
#menuitem {
	/* border-radius: 15px; */
}

/* #menu-actions {
  background-color: #292828;
  color: #a89884;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

#tray {
  /* border: 2px solid*/
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #a89884;
  /* background: #292828; */
}

#custom-recording_status {
  /* border : 2px solid #a89884; */
  font-size : 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top : 0px;
  margin-bottom: 0px;
  /* border-radius: 10px; */
  transition: none;
  color: #cc241d;
  /* background: #292828; */
}

#custom-waybar_media {
  /* border : 2px solid #a89884; */
  font-size : 13px;
  /* background: #292828; */
  margin-left : 10px;
  color : #a89884;
  padding-right : 10px;
}